@import "tailwindcss";

@theme {
  --color-forest: #355C45;
  --color-salmon: #D3765A;
  --color-sand: #F6F0E5;
}

@layer utilities {
  .text-forest {
    color: var(--color-forest);
  }

  .text-salmon {
    color: var(--color-salmon);
  }

  .text-sand {
    color: var(--color-sand);
  }
}


* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  border: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--color-sand);
}